# Ignore backend for now, so I don't accidentally leak secrets
# backend/
# *.php
*.sql

# Ignore these files too
*.bak
*.env
*.log

# exclude everything in assets/css/bootswatch except the assets/css/bootswatch/dist/cyborg/
assets/css/bootswatch/*
!assets/css/bootswatch/dist/cyborg/*

pen*/
pen-*.zip